.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.card {
  font-family: cursive, sans-serif; 
  width: 93%;
  margin: 15px auto;
  min-width: 850px;
}

.card h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1f4880;
}

.form {
  width: 400px;
  margin: 0 auto;
}